@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using BlazorLife.Game
@inject GameService GameService

<button onclick="@DrawNextGeneration">Next gen</button>
<button onclick="@Start">Start</button>
<button onclick="@Stop">Stop</button>
<span>@GameService.CurrentGenerationNumber</span>

@functions {

    bool isRunning = false;

    protected override void OnInit()
    {
        GameService.AddLife(11, 8);
        GameService.AddLife(12, 9);
        GameService.AddLife(10, 10);
        GameService.AddLife(11, 10);
        GameService.AddLife(12, 10);
    }

    protected override void OnAfterRender()
    {
        DrawCurrentGeneration();
    }

    void DrawNextGeneration()
    {
        RegisteredFunction.Invoke<bool>("clearCanvas");
        GameService.CreateNextGeneration();
        DrawCurrentGeneration();
    }

    void DrawCurrentGeneration()
    {
        foreach (var life in GameService.AllLife)
        {
            var canvasX = (life.X * 5) + 100;
            var canvasY = (life.Y * 5) + 100;

            RegisteredFunction.Invoke<bool>("drawOnCanvas", canvasX, canvasY);
        }
    }

    async void Start()
    {
        isRunning = true;


        while (isRunning)
        {
            await Task.Delay(1000);
            DrawNextGeneration();
        }
    }

    void Stop()
    {
        isRunning = false;
    }
}