@using Microsoft.AspNetCore.Blazor.Browser.Interop

<button onclick="@DrawCanvas">Draw something</button>
<button onclick="@Start">Start</button>
<button onclick="@Stop">Stop</button>

@functions {

bool isRunning = false;

void DrawCanvas()
{
    RegisteredFunction.Invoke<bool>("drawOnCanvas", 0, 0);
}

async void Start()
{
    isRunning = true;

    var currentX = 0;

    while (isRunning)
    {
        await Task.Delay(1000);
        RegisteredFunction.Invoke<bool>("drawOnCanvas", currentX, 0);
        currentX += 5;
    }
}

void Stop()
{
    isRunning = false;
}
}