@using BlazorLife.Game
@using BlazorLife.Client.Interop
@inject GameService GameService

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-8">
            <button class="btn btn-primary" onclick="@DrawNextGeneration">Next gen</button>
            <button class="btn btn-light" onclick="@Start">Start</button>
            <button class="btn btn-light" onclick="@Stop">Stop</button>
            <button class="btn btn-light" onclick="@Reset">Reset</button>
        </div>
    </div>
</div>

@functions {

    public bool IsRunning = false;

    const int CanvasCellSize = 5;
    const int SleepTimeBetweenGenerations = 100;

    protected override void OnInit()
    {
        CanvasFunctions.OnCanvasClicked += CanvasClicked;
    }

    protected override void OnAfterRender()
    {
        Reset();
    }

    protected void CanvasClicked(object sender, CanvasClickedEventArgs e)
    {
        int xValue = e.X / CanvasCellSize;
        int yValue = e.Y / CanvasCellSize;

        GameService.AddLife(xValue, yValue);

        DrawCurrentGeneration();
    }

    void DrawNextGeneration()
    {
        var startDrawTime = DateTime.Now;

        GameService.CreateNextGeneration();

        DrawCurrentGeneration();
    }

    void DrawCurrentGeneration()
    {
        var xCoordinates = new List<int>(GameService.AllLife.Select(life => life.X * CanvasCellSize)).ToList();
        var yCoordinates = new List<int>(GameService.AllLife.Select(life => life.Y * CanvasCellSize)).ToList();

        CanvasFunctions.ClearCanvas();
        CanvasFunctions.DrawCellsOnCanvas(xCoordinates, yCoordinates, CanvasCellSize);
        this.StateHasChanged();
    }

    async void Start()
    {
        IsRunning = true;

        while (IsRunning)
        {
            await Task.Delay(SleepTimeBetweenGenerations);
            DrawNextGeneration();
        }
    }

    void Stop()
    {
        IsRunning = false;
    }

    void Reset()
    {
        Stop();
        GameService.Reset();
        CanvasFunctions.ClearCanvas();
        
        // Generate a interesting start pattern
        GameService.AddLife(11, 8);
        GameService.AddLife(12, 9);
        GameService.AddLife(10, 10);
        GameService.AddLife(11, 10);
        GameService.AddLife(12, 10);

        DrawCurrentGeneration();
    }
}